/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2018, 12:16:09 AM
    Author     : vg
*/

body {
    background-color: black;
}

body, h1,h2,h3,h4,h5,h6 {

    text-align: center


}


.enjoy-css {
    display: compact;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    overflow: hidden;
    border: none;
    font: normal 60px/1 "VT323", Helvetica, sans-serif;
    color: rgba(255,255,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 0 rgba(255,0,0,1) ;

}


.myButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font: normal normal bold 20px/40px "Baumans", Helvetica, sans-serif;
    color: black;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
    box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
    text-shadow: 0 1px 0 #FFFFFF ;
}

.myButton:hover {
    background: #FFFFFF;
}

.myButton:active {
    margin: 6px 0 0;
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
    box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
}

.myButton:focus {
    background: rgb(221, 221, 221);
}

.textfield {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    font: normal 20px/normal "Antic", Helvetica, sans-serif;
    color: rgba(140,140,140,1);
    

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(40,40,40,0.4);
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}



.textfield:hover {
    color: rgba(181,181,181,1);
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.textfield:focus {
    width: 213px;
    cursor: default;
    padding: -13px 20px 0;
    color: rgba(255,255,255,1);
    -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}


body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42em;
    color:#A7A1AE;
}

.container {
    border-radius: 100px;
    border-radius: 4em 4em 3em 3em;
    text-align: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 0 0 ;

}

.container td, .container th {
    padding-bottom: 1%;
    padding-top:  1%;
    padding-left: 1%;
    padding-right: 1%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #000000;
    font: normal 30px/1 "VT323", Helvetica, sans-serif;
    color:white;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #000000;
    font: normal 30px/1 "VT323", Helvetica, sans-serif;
    color:white;
}

.container th {
    text-align: center;
    background-color: midnightblue;
    color: aqua;
    font-size: larger;
    font-weight: 700;
    font: normal 40px/1 "VT323", Helvetica, sans-serif;
    padding: .1em .1em .3em .1em;

}

.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
}

.prod{
    
    padding: 0;


    font: normal 40px/1 "VT323", Helvetica, sans-serif;

    color: rgba(255,255,0,1);
    text-align: left;

    text-shadow: 3px 3px 0 rgba(255,0,0,1) ;

}


.qty{

    font: normal 40px/1 "VT323", Helvetica, sans-serif;

    color: rgba(255,255,0,1);

    text-shadow: 2px 2px 0 rgba(255,0,0,1) ;
    text-align: center;
    overflow: hidden;
    width: 60%;
    margin: auto;
    display: table;
    padding: 0 0 0 0;

}

.createacc {
    
    font: normal 45px/1 "VT323", Helvetica, sans-serif;
    color: rgba(255,255,0,1);
    text-shadow: 4px 4px 0 rgba(255,0,0,1) ;
    text-align: right;
    overflow: hidden;
    width: auto;
    margin: auto;
    display: table;
    padding: 0 0 0 0;


}

div.gallery img {
    width: 100%;
    height: auto;
    
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.gallery1 img {
    width: 100%;
    height: auto;
    
}

div.desc1 {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.3%;

}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50.0000%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.responsive1 {
    padding: 0 6px;
    float: right;
    width: 33.3%;

}

@media only screen and (max-width: 700px) {
    .responsive1 {
        width: 50.0000%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive1 {
        width: 100%;
    }
}


.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
}

