<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Cart</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="//fonts.googleapis.com/css?family=VT323" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <link href="//fonts.googleapis.com/css?family=Baumans" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CartController as cartCtrl">
        <div class="enjoy-css" ng-include="'menu.html'" ></div>
        <div class="prod" >
            <h1>Shopping Cart</h1>
        </div>
        <div class="topleft">
            <img  src=images/brick1.gif alt="lego robot2" style="width:100px;height:100px;">
        </div>
        <div>
            <table class="container" >
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat="item in cartCtrl.items">
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.list_price|currency}}</td>
                    <td>{{item.quantityPurchased}}</td>
                    <td>{{item.getItemTotal()|currency}}</td>     
                </tr>
                <tr>
                    <td>Total Cost:</td>
                    <td></td>
                    <td></td>
                    <td>${{cartCtrl.total}}</td>
                </tr>
                <tr></tr>
            </table><br>
        </div>
        <div>
            <button class="myButton" ng-click="cartCtrl.checkOut()">Check Out Cart</button>
        </div>
    </body>
</html>

