<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Create Account</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="//fonts.googleapis.com/css?family=VT323" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <link href="//fonts.googleapis.com/css?family=Baumans" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body>
        <nav>
            <div class="enjoy-css" ng-include="'menu.html'" ></div>
        </nav>
        <div class="topleft">
            <img  src=images/brick1.gif alt="lego robot2" style="width:100px;height:100px;">
        </div>
        <div class="prod" >
            <h1>Create an Account</h1>
        </div>
        <div class="createacc">
            <form ng-controller="CustomerController as custCtrl" ng-submit="custCtrl.registerCustomer(customer)">
                <fieldset>
                    <legend align="center">Account Details</legend>
                    <label for="username">User Name:</label>
                    <input class ="textfield" id="username" type="text" name="username" ng-model="customer.username" required><br>
                    <label for="firstname">First Name:</label>
                    <input class ="textfield" id ="firstname" type="text" name="firstname" ng-model="customer.firstName" required><br>
                    <label for="lastname">Last Name:</label>
                    <input class ="textfield" id ="lastname" type="text" name="lastname" ng-model="customer.surname" required><br>
                    <label for="email">Email:</label>
                    <input class ="textfield" id ="email" type ="email" name="email" ng-model="customer.emailAddress" required><br>
                    <label for="password">Password:</label>
                    <input class ="textfield" id="password" type="password" name="password" ng-model="customer.password"><br>
                    <label for="address">Address:</label>
                    <input class ="textfield" id ="address" type="text" name="address" cols="20" rows="4" ng-model="customer.shippingAddress" required><br>
                    <label for="creditcard">Credit Card:</label>
                    <input class ="textfield" id ="creditcard" type="text" name="creditcard" ng-model="customer.creditCardDetails" required><br>
                    <p></p>
                    <button class="myButton" type="submit">Create Account</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
