<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="//fonts.googleapis.com/css?family=VT323" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <link href="//fonts.googleapis.com/css?family=Baumans" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body>
        <nav>
            <div class="enjoy-css" ng-include="'menu.html'" ></div>
        </nav>
        <div class="topleft">
            <img  src=images/brick1.gif alt="lego robot2" style="width:100px;height:100px;">
        </div>
        <form ng-controller="CustomerController as custCtrl" ng-submit="custCtrl.signIn(username, password)">
            <p class="enjoy-css">{{custCtrl.signInMessage}}</p>
            <div class="createacc">
                <fieldset>
                    <legend >Account Details</legend>
                    <label for="username">User Name:</label>
                    <input class ="textfield" id="username" type="text" name="username" ng-model="username" required><br>
                    <label for="password">Password:</label>
                    <input class ="textfield" id="password" type="password" name="password" ng-model="password" required><br>
                    <button class="myButton" type="submit">Sign in</button>
                </fieldset>
        </form>
    </div>
    <div class="enjoy-css">
            <nav>
                <p>If you don't have an account then you can <a href="createaccount.html">create one</a></p>
            </nav>
        </div>
    </body>
</html>