<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href="//fonts.googleapis.com/css?family=VT323" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
<link href="//fonts.googleapis.com/css?family=Baumans" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
<div class="enjoy-css" id="menu" ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()" >
    <div class="enjoy-css" id="welcome">{{custCtrl.welcome}}</div>
    <a href=".">Home</a>
    <a href="viewproducts.html" ng-if="custCtrl.signedIn">Browse Products</a>
    <a href="cart.html" ng-if="custCtrl.signedIn">View Cart</a>
    <a href="." ng-if="custCtrl.signedIn" ng-click="custCtrl.signOut()">Sign Out</a>
    <a href="login.html" ng-if="!custCtrl.signedIn">Sign In</a>
</div>
