<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Purchase Quantity</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="//fonts.googleapis.com/css?family=VT323" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <link href="//fonts.googleapis.com/css?family=Baumans" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CartController as cartCtrl">
        <div class="topleft">
            <img  src=images/brick1.gif alt="lego robot2" style="width:100px;height:100px;">
        </div>
        <div class="enjoy-css" ng-include="'menu.html'" ></div>
        <div class="prod">
            <h1>How many do you want to buy?</h1>
        </div>
        <div class="prod">
            <p> ID: {{cartCtrl.selectedProduct.productId}}</p>
            <p> Name: {{cartCtrl.selectedProduct.name}}</p>
            <p> Description: {{cartCtrl.selectedProduct.description}}</p>
            <p> Price: {{cartCtrl.selectedProduct.list_price|currency}}</p>
            <p> Quantity available: {{cartCtrl.selectedProduct.quantity_in_stock}}</p>
        </div>
        <div class="createacc">
            <form >
                <fieldset>
                    <legend>Quantity to buy</legend>
                    <label for="howmany">How many?:</label>
                    <input class ="textfield" id="hommany" type="number" name="How many?" ng-model ="quantityPurchased" min="1" required>
                    <button class="myButton" ng-click="cartCtrl.addToCart(quantityPurchased)">Add to Cart</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>


