<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>View Products</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="//fonts.googleapis.com/css?family=VT323" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <link href="//fonts.googleapis.com/css?family=Baumans" data-generated="//enjoycss.com" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="ProductController as prodCtrl">
        <div class="topleft">
            <img  src=images/brick1.gif alt="lego robot2" style="width:100px;height:100px;">
        </div>
        <div class="enjoy-css" ng-include="'menu.html'" ></div>
        <div class="prod">
            <h1>Products</h1>
        </div>
        <div>
            <button class="myButton" ng-click="prodCtrl.allProd(all)">All{{all}}</button>
            <button class="myButton" ng-repeat="cat in prodCtrl.categories" ng-click="prodCtrl.selectCategory(cat)" >{{cat}}</button>
        </div>
        <div  >
            <table class="container" ng-controller="CartController as cartCtrl">
                <br>
                <br>
                <tr >
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th></th>
                </tr>
                <tr ng-repeat="product in prodCtrl.products">
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.list_price|currency}}</td>
                    <td>{{product.quantity_in_stock}}</td>
                    <td><button class="myButton" ng-click="cartCtrl.getProduct(product)">Buy</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>